.toy-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.toy-list .toy-preview .custom-toyd {
  align-items: flex-start;
}
.toy-list .toy-preview .custom-toyd header {
  font-size: 1em;
}
