.toy-preview{
    box-shadow: 4px 6px 2px 3px #ccc;
}

.toy-details{
    
    font-size: 2em;
    margin-block-start: 0.5em;

    & :nth-child(1) {
        margin-block-start: 1em;
    }
    & :nth-child(2) {
        margin-block-start: 1em;
    }
    & :nth-child(3) {
        margin-block-start: 1em;
        & span{
            margin-inline-end: 1em;
        }
    }
    & .go-back{        
        color: rgb(10, 10, 10);
        border: 1px solid #ccc;
        border-radius: 2em;
    }
}

.toy-edit{
    margin-block-start: 1em;
    font-size: 1.6em;

    & h1{
        margin-block: 1em;
        font-weight: 400;
    }
    & .form .form-control input {
        font-size: 1em;
        background-color: #f8f3f3;
        border-radius: 2em;
        padding-inline-start: 1em;
    }
    & .btn{
        margin-block-start: 1em;
        color: rgb(10, 10, 10);
        border: 1px solid #ccc;
        border-radius: 2em;
    
        &:hover{
            background-color: #f6f1f1;
        }
    }
    
}